/***************************************
 * NEXT PREV BUTTONS
 ****************************************/

 .nextPreviousWrapper {
  margin: 0px;
  padding: 5px;
  width: auto;
  display: grid;
  grid-template-rows: auto;
  column-gap: 24px;
  grid-template-columns: calc(50% - 8px) calc(50% - 8px);
  @media only screen and (max-width: 500px) {
    grid-template-columns: 90%;
  }
}

.previousBtn {
  cursor: pointer;
  -moz-box-align: center;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-self: stretch;
  border-radius: 3px;
  border: 1px solid rgb(230, 236, 241);
  transition: border 200ms ease 0s;
  box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
  text-decoration: none;

    color: $light-body-font;
    background-color: $light-bg;

}

.leftArrow {
  display: block;
  margin: 0px;
  color: rgb(157, 170, 182);
  flex: 0 0 auto;
  font-size: 24px;
  transition: color 200ms ease 0s;
  padding: 16px;
  padding-right: 16px;
}

.preRightWrapper {
  display: block;
  margin: 0px;
  flex: 1 1 0%;
  padding: 16px;
  text-align: right;
}

.smallContent {
  display: block;
  margin: 0px;
  padding: 0px;
  color: rgb(157, 170, 182);
}

.smallContent span {
  font-size: 12px;
  line-height: 1.625;
  font-weight: 400;
}

.smallContentLeft {
  display: block;
  margin: 0px;
  padding: 0px;
  color: rgb(157, 170, 182);
  align: left;
}

.smallContentRight {
  display: block;
  margin: 0px;
  padding: 0px;
  color: rgb(157, 170, 182);
  text-align: right;
}

.smallContentRight span{
  display: block;
  margin: 0px;
  padding: 0px;
  color: rgb(157, 170, 182);
  text-align: right;
}

.rightAlignText{
  text-align: right;
}

.nextPreviousTitle {
  display: block;
  margin: 0px;
  padding: 0px;
  transition: color 200ms ease 0s;
}

.nextPreviousTitle span {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.nextBtn {
  cursor: pointer;
  -moz-box-align: center;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-self: stretch;
  border-radius: 3px;
  border: 1px solid rgb(230, 236, 241);
  transition: border 200ms ease 0s;
  box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
  text-decoration: none;
  color: $light-body-font;
  background-color: $light-bg;
  
}

.rightArrow {
  flex: 0 0 auto;
  font-size: 24px;
  transition: color 200ms ease 0s;
  padding: 16px;
  padding-left: 16px;
  display: block;
  margin: 0px;
  color: rgb(157, 170, 182);
}

.nextRightWrapper {
  display: block;
  margin: 0px;
  padding: 16px;
  flex: 1 1 0%;
}

.nextBtn:hover, .previousBtn:hover {
  text-decoration: none;
    color: $light-primary;
  border: 1px solid $light-primary;
}

.nextBtn:hover .rightArrow, .previousBtn:hover .leftArrow {
    color: $light-primary;
}

.tableOfContents li {
  line-height: 1.1em;
}

.addPaddTopBottom {
  padding-top: 1em;
  padding-bottom: 1em;
}